@model KTS_Testing_System.ViewModel.ChangePasswordByAdminModel

@{
    ViewBag.Title = "ChangePasswordByAdmin";
}

@using (Html.BeginForm("ChangePasswordByAdmin", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    if (!ViewData.ModelState.IsValid)
    {
        <div class="msg-block alert alert-danger alert-dismissible" role="alert" style="margin:10px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.ValidationSummary(true, "")
        </div>
    }

    <div class="row panel-heading bg-system">
        User Change Password by Admin
        <div class="floatright">
            <div class="col-md-12">

                <button name="processingStatus" class="btn btn-bg-system" type="submit">Submit</button>

                @Html.ActionLink("Back to List", "Index", new { id = "index" }, htmlAttributes: new { @class = "btn btn-bg-system" })
            </div>
        </div>

    </div>

    @*<div class="col-lg-1 col-md-1"></div>*@
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Details
            </div>
            <div class="panel-body">

                    <div class="row top-spacing">
                        @Html.HiddenFor(model => model.user_id)
                        <div class="form-group">
                            <label class="col-md-2 ">User Name:</label>

                            @*<label class="col-md-4 ">@Model.UserName</label>*@
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control col-md-4", @readonly = "true" } })
                            </div>
                            <label class="col-md-2 ">Full Name:</label>
                            @*<label class="col-md-4 ">@Model.FullName</label>*@
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control col-md-4", @readonly = "true" } })
                            </div>
                        </div>

                    </div>
                <br />
                    <div class="row top-spacing">

                        <div class="form-group">
                            
                            <label class="col-md-2 ">Designation:</label>
                            @*<label class="col-md-4 ">@Model.UserType</label>*@
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.UserType, new { htmlAttributes = new { @class = "form-control col-md-4", @readonly = "true" } })
                            </div>
                        </div>

                    </div>


            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Please enter New Password and Confirm Password and click Submit
            </div>
            <div class="panel-body">

                <div class="col-md-12">
                    <div class="row top-spacing">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "labelbold col-md-2" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(model => model.NewPassword, htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "labelbold col-md-2" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
    @*<div class="col-lg-1 col-md-1"></div>*@




}

